<div class="container">
  <div class="row">
    <div class="content">
<div class="title">
<p class="map-note">XXXX行程</p>
</div>
<div class="share-btn">
   <button type="button" class="btn btn-primary"><%=t("schedule.new.shar_event")%></button>
</div>
</div>

  </div>

<div class="row">
  <div class="col-12 col-md-8 col-xs-12">
     <p><%=t("schedule.wish")%></p>

    <div class="map-bolck">
      <div id="map"><%=t("schedule.map_content")%></div>

    </div>

    <div class="footer-btn">
      <button type="button" class="btn btn-primary"><%=t("schedule.new.email")%></button>
      <button type="button" class="btn btn-primary"><%=t("schedule.new.print")%></button>
      <button type="button" class="btn btn-primary"><%=t("schedule.new.view")%></button>
    </div>

  </div>
  <div class="col-6 col-md-4 col-xs-12">
      <div class="spot-info">
   <h3><%=t("schedule.new.info")%></h3>

  </div>

 <div id="spot-show">
          <a class="fancybox" id="fancyboxPic" href="">
            <img id="spot-pic">
          </a>
          <div class="p">XXXX景點</div>
        </div>

  <div class="spot-list">





<div class="row bhoechie-tab-container">
  <div class="col-2 bhoechie-tab-menu"><div class="list-group">
     <% @schedules.each do |schedule| %>
                <a href="#" class="list-group-item text-center">
                  <p class="glyphicon glyphicon-plane">Day <%= schedule.day%></p>
                </a>
                 <% end %>
                 <a href="#" class="list-group-item active text-center">
                   <p class="glyphicon glyphicon-plane">wishList</p>
                 </a>
              </div></div>
  <div class="col-10 bhoechie-tab"><!-- flight section -->
     <% @schedules.each do |schedule| %>
        <div class="bhoechie-tab-content sortable" id="<%= schedule.id %>">
           <button type="button" class="btn btn-primary">map</button>
                 <% schedule.details.all.each do |detail| %>

                    <center id="detail-<%= detail.id %>">
                     <div class="conteaner">

                       <%=detail.spot.spot_name%>
                     </div>
                    </center>

                <% end %>
</div>
                <% end %>

                <div class="bhoechie-tab-content sortable active" >

                         <% @wishLists.all.each do |item| %>

                            <center id="wishItem-<%= item.id %>">
                             <div class="conteaner">

                               <%=item.spot_name%>
                             </div>
                            </center>

                        <% end %>
        </div>
               </div>


</div>
</div>


  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="newpage">

      </div>


    </div>
  </div>
</div>


<script type="text/javascript">
  var currentInfoWindow = null;
 function initialize(spots) {
          var location = {lat: 44.5403, lng: -78.5463}

          if (spots.length > 0) {
            location = {lat: spots[0].lat, lng: spots[0].lng}
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker;

          spots.forEach(function(spot) {
            //console.log(spot.lat)
           // if(spot.rating > 4){
            marker = new google.maps.Marker({
              position: {lat: spot.lat, lng: spot.lng},
              map: map
            });

          attachSecretMessage(marker,spot.spot_name+"<div id ='rating'>"+spot.rating+"</div>"+"<img id='small-pic'><br>"+spot.address+"<br><button onclick='addSpotTowish()' data-toggle='modal' data-target='#exampleModal'>+</button><div hidden id='place'>"+spot.place_id+"</div>",spot.place_id,map)
         // }
          })


        }
function attachSecretMessage(marker, secretMessage,placeId,map) {
        //console.log(placeId);
        var infowindow;

        marker.addListener('click', function() {
          if (currentInfoWindow != null) {
       currentInfoWindow.close();
   }
           map.setZoom(14);
          map.setCenter(marker.getPosition());
            infowindow = new google.maps.InfoWindow({
          content: "<div class='map_price' id='spot-info'>" +secretMessage +"<br></div>"
        });
          getPhoto(placeId);

          infowindow.open(marker.get('map'), marker);
          currentInfoWindow = infowindow;
        });

      }




        function getPhoto(placeId){
          var url;
         //console.log(placeId.innerText);
        //console.log(placeId);
           $.ajax({
              url: "/schedules/get_spot_phtot?place_id="+ placeId,
              method: "GET",
              dataType: "json",
              success: function(data) {
                url = data["url"];

                var smallSpot = document.getElementById("small-pic");
                smallSpot.setAttribute("src",url);
                var spot = document.getElementById("spot-pic");
                spot.setAttribute("src",url);

                $("#fancyboxPic").attr("href", url);
              }
            });


        }


 //default onload
  google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @wishLists.to_json %>)
  });

$(function() {
  $('.sortable').sortable();
});

$(function() {

  $("#btnForm").fancybox({
    'scrolling' : 'auto',
		        'hideOnOverlayClick' : false,
		        'overlayOpacity':0,
		        'autoScale' : false,
		        'showCloseButton' : true,
       'onStart': function() { $("#divForm").css("display","block"); },
       'onClosed': function() { $("#divForm").css("display","none"); }
   });


  $("a.fancybox").fancybox({
    'titlePosition': 'over',
                   'overlayColor': '#000',
                   'overlayOpacity': 0.8,
                   'transitionIn': 'elastic',
                   'transitionOut': 'elastic',
                   'autoScale': true,
                   'width'				: 900,
				'height'			: 900,
             'type': 'image',


  });
});

/*
  //待選清單
 function addSpotTowish(){
 $.ajax({
      url: "/schedules/add_to_wish",
      method: "POST",
      dataType: "json",
      data: {
          placeId:  $("#place").html(),
          url: $("#spot-pic").attr('src'),
      },
      error: function (xhr) {
        var errMessage = $.parseJSON(xhr.responseText).errors
        alert(errMessage);
      },
      success: function(data) {
         var spot = document.createElement("tr");
         spot.id = data["wishTems"].id;
          $(spot).html($("#spot-template").html());
          $(spot).find(".item-list").html(data["wishTems"].spot_name);
          $("#places").append(spot);
      }
    });


 }

$("#places").on("click", ".delete-wishspot", function(event) {
   var id = event.target.parentNode.parentNode.id;
   //console.log(id);

   $.ajax({
     url: "/schedules/destroy_wish",
     method: "DELETE",
     dataType: "json",
     data: {
         id:  id,
     },
     success: function(data) {
        $("#" + data["id"]).remove();
        alert("已成功刪除");
     }
   });

 });
*/
//open new detail

function addSpotTowish() {
  var scheduleId = $('div.bhoechie-tab-content.active').attr('id')
  var placeId = $("#place").html()
  var win = $
  console.log(scheduleId);

    $.ajax({
      url: "/details/new",
        method: "GET",
         dataType: "HTML",
         data: {
             schedule_id:  scheduleId,
place_id:placeId
         },
        error: function(xhr) {
          $('#newpage').html("ERROR");
          //   alert('Error');
        },
        success: function(data) {
           $('#newpage').html(data);

        }
    });


}

</script>
<script type="text/template" id="spot-template">
  <td class="item-list">
  </td>
  <td>
    <span class="delete-wishspot">Delete</span>
  </td>
</script>


<script type="text/template" id="spot-add-template">
  <center>
   <div class="conteaner">


   </div>
  </center>
</script>
